<H1>Data Science Tools and Ecosystem<H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Numpy

In [2]:
%%html
<style>
table{float:left}
</style>

| Data Science Tools |
|--------------------|
| VS Code |
| Jupyter Notebook|
| PyCharm|

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
1. How to create different types of markdown cells
2. The exercise explains how to integrate html to align certain markdown cells as per requirements.
3. How to insert tables?
4. How to insert ordered list such as this?
5. This exercise gives the introduction in creating different type of cells such code and markdown that serves different purpose in excecution.

<H2>Author</H2>
Vik Ruhil